* {
    font-family: Optima;
}

html, body {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    background-image:url("../img/moving.gif");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    cursor: default;
}

.header {
    text-align: center;
    color: rgb(248, 247, 247);
    padding: 2rem;
}

.header h1 {
    font-size: 50px;
    margin: 0;
}

/* continer for todos and calendar */
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    padding: 0;
    min-width: 100%;
}
