
@media screen and (max-width: 1200px) {
    .weekDays div {
        font-size: 0.8rem;
    }

    .displayTodaysWeekdays{
        font-size: 1.5rem;
    }

    .header{
        font-size: 0.8rem;
    }

    .containerForMonthAndYear{
        font-size: 0.7rem;
    }

    .container {
        min-width: 100%;
    }
  }

  
  @media screen and (max-width: 950px) {

    .header h1{

        font-size: 40px;
    }
    .containerForMonthAndYear{
        font-size: 0.5rem;
    }

    .displayTodaysWeekday{
        font-size: 1.5rem;
    }

    .header{
        font-size: 0.6rem;
    }

    .containerForMonthAndYear{
        font-size: 0.5rem;
    }

    .eachDay{
        font-size: 0.8rem;
        margin: 0;
    }

    .todoCount {
        font-size: 12px;
        top: 0;
        right: 0;
    }

    .date {
        font-size: 16px;
    }

    .holiday-name {
        font-size: 12px;
    }

    .sidebar{
        max-width: 80%;
    }

    #addTodoInputText{
        width:90px
    }
  }

  @media screen and (max-width: 800px) {

    .header h1 {
        font-size: 30px;


    }
    .weekDays div {
        font-size: 0.6rem;
    }

    .displayTodaysWeekday{
        font-size: 1rem;
    }

    .header{
        font-size: 0.6rem;
    }

    .containerForMonthAndYear{
        font-size: 0.5rem;
    }

    .eachDay{
        font-size: 0.8rem;
        margin: 0;
    }

    .todoCount {
        font-size: 12px;
        top: 0;
        right: 0;
    }

    .date {
        font-size: 16px;
    }

    .holiday-name {
        font-size: 12px;
    }

    .sidebar{
        max-width: 80%;
    }

    #addTodoInputText{
        width:90px
    }
.displayTodaysWeekday{
    font-size: 1em;
}
  }


/* calander becomes dropdown*/

@media screen and (max-width: 630px) {
    body {
        overflow: visible;
    }
    .weekDays div {
        font-size: 0.6rem;
    }

    .displayTodaysWeekday{
        font-size: 2rem;
    }

    .header{
        font-size: 0.6rem;
    }

    .containerForMonthAndYear{
        font-size: 0.5rem;
    }

    .eachDay{
        font-size: 0.8rem;
        padding: 0.5rem;
        
    }

    .sidebar{
        min-width: 100%;
    }

    #addTodoInputText{
        width: 75%;
    }

    .weekDays{

        display: none;
      }
      #calendar{

        display:none;
    }
        .calendar{
            position: absolute;
            justify-self: center;
            z-index: 1;
            
            contain: content;
            margin-top: -1.2rem;
        }

        #calendar {
            background-color: rgb(18, 64, 70);

        }
   
        .todo-list{
            min-height: 250px;
        }
    
        
    
        .allDaysContainer .eachDay {
            font-size: 10px;
            margin: 0.5rem;
            height: 0.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            background-color: none;
        }
    
        .holiday-name {
            display: none;
        }
    
        p.date{
            font-size: 15px;
        }
    
        .containerForMonthAndYear{
         font-size: 12px;
        }
    
        p.todoCount{
            font-size: 12px;
        }

    .todo-list{
        min-height: 250px;
    }

    #calendarPhone{
        display: block;
        color:white;
        background-color: darkcyan;
        border: none;
        margin: 5px;
        cursor: pointer;
       

  } 

  div.eachDay.today.active-day{
    background-color: rgba(0, 0, 0, 0.459);
}
 

} 
 
@media screen and (max-width: 400px) {
    body {
        overflow: visible;
    }
  .weekDays{

    display: none;
  }

    .calendar{
        position: absolute;
        justify-self: center;
        contain: content;
        
        
    }

    #calendar{
       

        display:none;
       
    }

    .todo-list{
        min-height: 250px;
    }

    div.allDaysContainer{
        background-color: none;
    }

    .allDaysContainer .eachDay {
        font-size: 2px;
        margin: 0.2rem;
        height: 0.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        position: relative;
        
        
    }

    .holiday-name {
        display: none;
    }

    p.date{
        font-size: 10px;
        
    }

    .containerForMonthAndYear{
     font-size: 6px;
    }

    p.todoCount{
        font-size:8px;
    }

    div.eachDay.today.active-day{
        background-color: rgba(0, 0, 0, 0.452);
    }
  } 



