html, body {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-image:url("../img/moving.gif");
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100vw;
    min-height: 100vh;
    overflow: hidden;
}

*{
    font-family: Optima;
}

.header {
    text-align: center;
    color: rgb(248, 247, 247);
}

.header h1 {
    font-size: 50px;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    padding: 0;
    cursor: pointer;
    min-width: 100%;
}

.sidebar{
    display: flex;
    flex-direction: column;
    padding-top: 9rem;
    align-items: center;
    text-align: center;
    background-color:rgba(3, 1, 1, 0.384);
    backdrop-filter: blur(5px);
    color: rgb(255, 255, 255);
}

.displayTodaysWeekday {
    text-transform: uppercase;
    font-size: 2.5em;
}

.displayTodaysDate, .displayCurrentTime{
    font-size: 1.5em;
    
}

.containerForTodo{
    margin-top: 1em;
}

.formForTodo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.formForTodo .smallPlusIcon {
    font-size: 2em;
    cursor: pointer;
} 

.formForTodo .submitbutton {
    margin-left: 1rem;
    padding: 0;
    border: none;
    background: none;
    color: whitesmoke;
}

.containerForMonthAndYear{
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.336);
    backdrop-filter: blur(5px);
    border-bottom: dotted;
    border-color: rgba(36, 36, 36, 0.733);
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 0 1em;
    text-align: center;
}

.previousMonthAndYear, .nextMonthAndYear {
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 2.5em;
}

.previousMonthAndYear-opacity, .nextMonthAndYear-opacity {
    opacity: 0.5;
}

#displayMonth {
    font-size: 2.5em;
    text-transform: uppercase;
    margin-bottom: 1em;
    cursor: pointer;
}

#displayYear {
    font-size: 1.5em;
    cursor: pointer;
}

.weekDays{
    background-color: black;
    padding: 0 .4em;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1px;
    border-bottom: #6b6b6b27;
    border-bottom-style: dotted;
    cursor: pointer;
    
}

.weekDays div {
    font-size: 1.2em;
    letter-spacing: .1em;
    text-align: center;
    padding: 1em;
}

.allDaysContainer{
    background-color: rgba(3, 1, 1, 0.384);
    backdrop-filter: blur(5px);
    padding: .2em;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    color: rgb(255, 255, 255);
}

.allDaysContainer .eachDay {
    font-size: 1.4rem;
    margin: 0.3rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}
  

.active-day {
    border: 1px solid whitesmoke;
}

.allDaysContainer .eachDay:hover:not(.today) {
    background-color: #8f8f8fb7;
}

.today {
    background-color: #8f8f8fb7;
}

.todo-list {
      max-height: 310px;
      background-color: rgba(59, 58, 58, 0.274);
      overflow-y: scroll;
}

.fas.fa-edit{
background-color: rgb(116, 139, 72);
border: none;
padding: 5px;
border-radius: 10px;
color: whitesmoke;
margin: auto;

}



.active.todo-list {
      visibility: visible;
}

.formForTodo.hide {
    visibility: visible;
}

#addTodoInputText{
    border:none;
    background-color: rgba(255, 255, 255, 0.336);
    color: black;
    padding:10px;
    margin:5px;
    border-radius: 15px;
}

.deleteTodo{
    background-color: rgb(165, 2, 2);
    color:white;
    text-align: center;
    border-radius: 200px;
    padding: 5px;
    font-weight: bold;
    margin:20px;
    border: none;
}

.holiday{
    color: red;
}

.todoCount {
    color: pink;
    font-size: 14px;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.holiday-name {
    font-size: 16px;
}

.eachDay{
    flex-direction: column;
}

.allDaysContainer .eachDay p {
    margin: 0;
}

#calendarPhone{
    display: none;
}




@media screen and (max-width: 1200px) {
    .weekDays div {
        font-size: 0.8rem;
    }

    .displayTodaysWeekdays{
        font-size: 1.5rem;
    }

    .header{
        font-size: 0.8rem;
    }

    .containerForMonthAndYear{
        font-size: 0.7rem;
    }

    .container {
        min-width: 100%;
    }
  }

  
  @media screen and (max-width: 950px) {

    .header h1{

        font-size: 40px;
    }
    .containerForMonthAndYear{
        font-size: 0.5rem;
    }

    .displayTodaysWeekday{
        font-size: 1.5rem;
    }

    .header{
        font-size: 0.6rem;
    }

    .containerForMonthAndYear{
        font-size: 0.5rem;
    }

    .eachDay{
        font-size: 0.8rem;
        margin: 0;
    }

    .todoCount {
        font-size: 12px;
        top: 0;
        right: 0;
    }

    .date {
        font-size: 16px;
    }

    .holiday-name {
        font-size: 12px;
    }

    .sidebar{
        max-width: 80%;
    }

    #addTodoInputText{
        width:90px
    }
  }

  @media screen and (max-width: 800px) {

    .header h1 {
        font-size: 30px;


    }
    .weekDays div {
        font-size: 0.6rem;
    }

    .displayTodaysWeekday{
        font-size: 1rem;
    }

    .header{
        font-size: 0.6rem;
    }

    .containerForMonthAndYear{
        font-size: 0.5rem;
    }

    .eachDay{
        font-size: 0.8rem;
        margin: 0;
    }

    .todoCount {
        font-size: 12px;
        top: 0;
        right: 0;
    }

    .date {
        font-size: 16px;
    }

    .holiday-name {
        font-size: 12px;
    }

    .sidebar{
        max-width: 80%;
    }

    #addTodoInputText{
        width:90px
    }
.displayTodaysWeekday{
    font-size: 1em;
}
  }


/* calander becomes dropdown*/

@media screen and (max-width: 630px) {
    body {
        overflow: visible;
    }
    .weekDays div {
        font-size: 0.6rem;
    }

    .displayTodaysWeekday{
        font-size: 2rem;
    }

    .header{
        font-size: 0.6rem;
    }

    .containerForMonthAndYear{
        font-size: 0.5rem;
    }

    .eachDay{
        font-size: 0.8rem;
        padding: 0.5rem;
    }

    .sidebar{
        min-width: 100%;
    }

    #addTodoInputText{
        width: 75%;
    }

    .weekDays{

        display: none;
      }
    
        .calendar{
            position: absolute;
            justify-self: center;
            z-index: 1;
            max-width: 55vh;
            contain: content;
            height: 55vh;
        }
    
        .todo-list{
            min-height: 250px;
        }
    
        
    
        .allDaysContainer .eachDay {
            font-size: 10px;
            margin: 0.5rem;
            height: 0.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            position: relative;
        }
    
        .holiday-name {
            display: none;
        }
    
        p.date{
            font-size: 15px;
        }
    
        .containerForMonthAndYear{
         font-size: 12px;
        }
    
        p.todoCount{
            font-size: 12px;
        }

    .todo-list{
        min-height: 250px;
    }

    #calendarPhone{
        display: block;

  } 
 

  } 
 






 @media screen and (max-width: 400px) {
    body {
        overflow: visible;
    }
  .weekDays{

    display: none;
  }

    .calendar{
        position: absolute;
        justify-self: center;
        z-index: 1;
        max-width: 48vh;
        contain: content;
        height: 40vh;
    }

    .todo-list{
        min-height: 250px;
    }

    

    .allDaysContainer .eachDay {
        font-size: 2px;
        margin: 0.2rem;
        height: 0.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        position: relative;
    }

    .holiday-name {
        display: none;
    }

    p.date{
        font-size: 10px;
    }

    .containerForMonthAndYear{
     font-size: 6px;
    }

    p.todoCount{
        font-size:8px;
    }
  } 



