/* container for aside element */
.sidebar {
    display: flex;
    flex-direction: column;
    padding-top: 9rem;
    align-items: center;
    text-align: center;
    background-color:rgba(3, 1, 1, 0.384);
    backdrop-filter: blur(5px);
    color: rgb(255, 255, 255);
}

.displayTodaysWeekday {
    text-transform: uppercase;
    font-size: 2.5em;
}

.displayTodaysDate, .displayCurrentTime {
    font-size: 1.5em;
}

.containerForTodo {
    margin-top: 1em;
}

/* input field for todo */
.formForTodo {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* button for add a todo */
.formForTodo .submitbutton {
    margin-left: 1rem;
    padding: 0;
    border: none;
    background: none;
    color: whitesmoke;
    cursor: pointer;
}

.formForTodo .smallPlusIcon {
    font-size: 2em;
    cursor: pointer;
} 

#todoULDOM {
    padding: 0;
    width: 100%;
}

/* the list for added todos */
.todo-list {
    margin-top: 1.5rem;
    max-height: 310px;
    background-color: rgba(59, 58, 58, 0.274);
    overflow-y: auto;
    width: 250px;
    position: relative;

}

.todo-list li {
    list-style: none;
    padding: 0 0.5rem 0 1.5rem;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: end;
}

.todo-list li span {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    width: 100px;
    word-break: break-all;
}

.todo-list li button {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 0;
    margin: 0.5rem;
}

/* the button you press for edit a todo */
.fas.fa-edit {
    background-color: rgb(116, 139, 72);
    border: none;
    padding: 5px;
    border-radius: 100%;
    color: whitesmoke;
    margin: auto;
    cursor: pointer;
}

/* button for deleting a todo */
.deleteTodo {
    background-color: rgb(165, 2, 2);
    color:white;
    text-align: center;
    border-radius: 100%;
    padding: 5px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

/* styling for todo input field */
#addTodoInputText {
    border:none;
    background-color: rgba(255, 255, 255, 0.336);
    color: black;
    padding:10px;
    border-radius: 15px;
}

/* button that shows calendar in mobile */
#calendarPhone {
    display: none;
}