body{
    margin:0;
    padding:0;
    background-color: whitesmoke;
   
}


.sidebar{

background-color: yellow;
height: 100vh;
width: 25%;

}

.calendar{

background-color: yellowgreen;
width:75%
}

.container-sidebar-calendar{
    display: flex;
    flex-direction: row;
}

.displayMonth{
background-color: palevioletred;

}

.daysOfTheWeek{
    display: flex;
    flex-direction: row;
   
}