body{
    margin:0;
    padding:0;
    background-image:url("./moving.gif");
    background-repeat: no-repeat;
    background-size: cover;
}

*{
    font-family: Optima;

}


.header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(248, 247, 247);
}

.container-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    padding: 0;
    cursor: pointer;
   
}



.sidebar{
    background-color:rgba(3, 1, 1, 0.384) ;
    display: flex;
    color: rgb(255, 255, 255);
    
    justify-content: center;
    align-items: center;
    text-align: center;
}
.sidebar h2 {
    font-size: 2.5em;
}
.displayTodaysWeekday {
    text-transform: uppercase;
    
}
.displayDate, .displayTime{
    font-size: 1.5em;
    
}
.todo{
    margin-top: 1em;
}

.todo-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-box .small {
    font-size: 2em;
    cursor: pointer;
} 

.todo-box .submitbutton {
    margin-left: 1rem;
    padding: 0;
    border: none;
    background: none;
    color: whitesmoke;
}


.month{
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.336);
    border-bottom: dotted;
    border-color: rgba(36, 36, 36, 0.733);
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 0 1em;
    text-align: center;
}
.fas {
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 2.5em;
}
#displayMonth {
    font-size: 2.5em;
    text-transform: uppercase;
    margin-bottom: 1em;
    cursor: pointer;
}
#displayYear {
    font-size: 1.5em;
    cursor: pointer;
}
.weekDays{
    background-color: black;
    padding: 0 .4em;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1px;
    border-bottom: #6b6b6b27;
    border-bottom-style: dotted;
    cursor: pointer;
    
}
.weekDays div {
    font-size: 1.2em;
    letter-spacing: .1em;
    text-align: center;
    padding: 1em;
   
}

.allDaysContainer{
    background-color: rgba(3, 1, 1, 0.384);
    padding: .2em;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    color: rgb(255, 255, 255);
}
.allDaysContainer .eachDay {
    font-size: 1.4rem;
    margin: 0.3rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}
  
.allDaysContainer .eachDay:hover:not(.today) {
    background-color: #adb3ae50;
}

  
.today {
    background-color: #8f8f8fb7;
}

.todo-list {
      max-height: 310px;
      border: solid;
      border-color: rgba(0, 0, 0, 0.808);
      background-color: rgba(59, 58, 58, 0.274);
}
.active.todo-list {
      visibility: visible;
}


.todo-box.hide {
    visibility: visible;
}

#addTodoInputText{
    border:none;
    background-color: rgba(255, 255, 255, 0.336);
    color: black;
    padding:10px;
    margin:5px;
    border-radius: 15px;
}

.deleteTodo{
background-color: rgb(165, 2, 2);
color:white;
text-align: center;
border-radius: 200px;
padding: 4px;
font-weight: bold;
margin:20px;
border: none;

}

.holiday{
    color: red;
}

.todoCount {
    color: pink;
    font-size: 14px;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.holiday-name {
    font-size: 16px;
}

.eachDay{
    flex-direction: column;
}

.allDaysContainer .eachDay p {
    margin: 0;
}



@media screen and (max-width: 1200px) {
    .weekDays div {
        font-size: 0.8rem;
    }
    .displayTodaysWeekdays{
        font-size: 1.5rem;
    }
    .header{
        font-size: 0.8rem;
    }
    .month{
        font-size: 0.7rem;

    }
  }

  @media screen and (max-width: 950px) {
    .weekDays div {
        font-size: 0.6rem;
    }
    .displayTodaysWeekday{
        font-size: 1rem;
    }
    .header{
        font-size: 0.6rem;
    }
    .month{
        font-size: 0.5rem;

    }
    .eachDay{
        font-size: 0.8rem;
        padding: 0.5rem;
        
    }
    .sidebar{
        max-width: 80%;
    }
    #addTodoInputText{
        width:90px
    }
  }


  @media screen and (max-width: 620px) {
    .weekDays div {
        font-size: 0.6rem;
    }
    .displayTodaysWeekday{
        font-size: 2rem;
    }
    .header{
        font-size: 0.6rem;
    }
    .month{
        font-size: 0.5rem;

    }
    .eachDay{
        font-size: 0.8rem;
        padding: 0.5rem;
        
    }
    .sidebar{
        min-width: 100%;
        padding: 50px;
    }
    #addTodoInputTexts{
        width: 120px;
    }
    .calandar{
        display: none;
    }
    .todo-list{
        min-height: 250px;
    }
  } 



